header {
  .container {
    @extend %mycontainer;
  }
  .img {
    @extend %forms;
  }
  .contact {
    @include contact;
  }
  ul {
    display: flex;
    align-items: center;
  }
  .div {
    display: flex;
    align-items: center;
  }
  .first-child {
    @include first-child;
  }
  li {
    @include liako;
  }
  .div2 {
    display: flex;
  }
  input {
    @include inputa;
  }
  input[type="search"] {
    @include search;
  }
  .img1 {
    width: 23px;
    height: 23px;
  }
  @media only screen and (max-width: 1072px) {
    .div1 {
      display: none;
    }
    .none {
      display: none;
    }
    input {
      display: none;
    }
  }
  @media only screen and (min-width: 1072px) {
    .img1 {
      display: none;
    }
  }
  @media only screen and (max-width: 850px) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 500px) {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
}
section {
  .photo {
    @include photo;
    .veqtors {
      @include veqtors;
    }
    .veqtorss {
      @include veqtorss;
    }
    .div7 {
      @include div7;
      .div4 {
        @include div4;
      }
      .div5 {
        @include div5;
      }
      .div6 {
        @include div6;
        .child {
          @include child;
        }
        .child1 {
          background-color: white;
        }
      }
    }
  }
  @media only screen and (max-width: 825px) {
    .div4 {
      display: flex;
      justify-content: center;
      p {
        font-size: 40px;
      }
    }
    .photo {
      .veqtors {
        display: none;
      }
      .veqtorss {
        display: none;
      }
    }
  }
}
.news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 102px;
  div {
    width: 253px;
    height: 2px;
    background-color: #000000;
  }
  p {
    color: black;
    font-size: 36px;
    font-family: Kaisei Decol;
    font-weight: 400;
    word-wrap: break-word;
    margin: 0px 10px;
  }
}
section {
  .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    .news2 {
      display: flex;
      justify-content: space-between;
    }
    .pic {
      width: 324px;
      height: 324px;
    }
    .child {
      p {
        text-align: center;
        color: black;
        font-size: 25px;
        font-family: JejuMyeongjo;
        font-weight: 400;
        word-wrap: break-word;
        margin-top: 27px;
      }
    }
    .first {
      width: 30px;
      margin-top: -50px;
    }
  }
  .inpute {
    width: 235px;
    height: 60px;
    background-color: #273a47;
    border: none;
    border-radius: 5px;
    margin-top: 97px;
  }
  input[type="submit"] {
    color: white;
    font-size: 25px;
    font-family: JejuMyeongjo;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 99px;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  @media only screen and (max-width: 1065px) {
    .news2 {
      display: flex;
      flex-wrap: wrap;
    }
    .first {
      display: none;
    }
  }
}
.section1 {
  .photot {
    background-image: url(../images/tteatre.jpg);
    width: 100%;
    height: 667px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      width: 400px;
      height: 150px;
      color: white;
      font-size: 48px;
      font-family: Judson;
      font-weight: 700;
      word-wrap: break-word;
      text-align: center;
      margin-top: 130px;
    }
    input {
      width: 235px;
      height: 60px;
      background-color: #040e15cc;
      border: none;
      border-radius: 5px;
      margin-top: 27px;
    }
  }
  .info {
    width: 100%px;
    height: 333px;
    background-color: #273a47;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      max-width: 1140px;
      width: 100%;
      color: white;
      font-size: 24px;
      font-family: Karma;
      font-weight: 400;
      word-wrap: break-word;
      text-align: center;
    }
    :last-child {
      margin-top: 59px;
    }
  }
}
footer {
  .foot-div {
    width: 100%;
    height: 430px;
    background-color: #e4e4e4;
  }
  .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    .first-child {
      @include first-child;
    }
    .img {
      @extend %forms;
    }
    .div1 {
      display: flex;
      align-items: center;
      margin-bottom: 140px;
    }
    .div2 {
      h1 {
        font-family: "Dancing Script", cursive;
        color: black;
        font-size: 25px;
        font-weight: 400;
        word-wrap: break-word;
      }
      div {
        width: 150px;
        height: 1px;
        background-color: #000000;
        margin-bottom: 32px;
      }
      p {
        color: black;
        font-size: 20px;
        font-family: Kameron;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 17px;
      }
    }
    .div3 {
      h1 {
        font-family: "Dancing Script", cursive;
        color: black;
        font-size: 25px;
        font-weight: 400;
        word-wrap: break-word;
      }
      div {
        width: 150px;
        height: 1px;
        background-color: #000000;
        margin-bottom: 32px;
      }
      a {
        color: black;
        font-size: 20px;
        font-family: Kameron;
        font-weight: 400;
        word-wrap: break-word;
      }
      p {
        margin-bottom: 17px;
      }
    }
    .div5 {
      max-width: 850px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .div4 {
        img {
          margin-left: 20px;
        }
      }
    }
    .div6 {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .div7 {
      margin-top: -60px;
      p {
        color: black;
        font-size: 20px;
        font-family: Kameron;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 17px;
      }
    }
    .div8 {
      display: flex;
      align-items: center;
      margin-top: 40px;
    }
    img {
      margin-right: 14px;
    }
    .pp {
      margin-right: 29px;
    }
    .div9 {
      input {
        width: 340px;
        height: 40px;
        background-color: white;
        border-radius: 14px;
        border: 1px solid gray;
      }
      input[type="text"] {
        color: black;
        font-size: 20px;
        font-family: Karma;
        font-weight: 400;
        word-wrap: break-word;
      }
      .input2 {
        width: 148px;
        height: 40px;
        background-color: #273a47;
      }
      .input2[type="submit"] {
        color: white;
        font-size: 16px;
        font-family: Karma;
        font-weight: 400;
        word-wrap: break-word;
      }
      p {
        color: black;
        font-size: 12px;
        font-family: Karla;
        font-weight: 400;
        word-wrap: break-word;
        margin-top: 11px;
      }
    }
    .div10 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media only screen and (max-width: 800px) {
      .div7 {
        display: none;
      }
      .div10 {
        .div9 {
          display: none;
        }
      }
      .div6 {
        max-width: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .div6 {
        .div5 {
          margin-top: -100px;
        }
      }
      .div5 {
        .div4 {
          display: flex;
          flex-direction: column;
          img {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
