header {
  .container {
    @extend %mycontainer;
  }
  .img {
    @extend %forms;
  }
  .contact {
    @include contact;
  }
  ul {
    display: flex;
    align-items: center;
  }
  .div {
    display: flex;
    align-items: center;
  }
  .first-child {
    @include first-child
  }
  li {
    margin-left: 30px;
    color: #000000;
    font-size: 20px;
    font-family: JejuMyeongjo;
    font-weight: 400;
    word-wrap: break-word;
  }
  .div2 {
    display: flex;
  }
  input {
    width: 188;
    height: 21;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 40px;
    border: none;
    padding: 5px 11px;
  }
  input[type="search"] {
    color: black;
    font-size: 12px;
    font-family: JejuMyeongjo;
    font-weight: 400;
    word-wrap: break-word;
  }
  .img1 {
    width: 23px;
    height: 23px;
  }
  @media only screen and (max-width: 1072px) {
    .div1 {
      display: none;
    }
    .none {
      display: none;
    }
    input {
      display: none;
    }
  }
  @media only screen and (min-width: 1072px) {
    .img1 {
      display: none;
    }
  }
  @media only screen and (max-width: 850px) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 500px) {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
}
