header {
  .container {
    @extend %mycontainer;
  }
  .img {
    @extend %forms;
  }
  .contact {
    @include contact;
  }
  ul {
    display: flex;
    align-items: center;
  }
  .div {
    display: flex;
    align-items: center;
  }
  .first-child {
    @include first-child;
  }
  li {
    @include liako;
  }
  .div2 {
    display: flex;
  }
  input {
    @include inputa;
  }
  input[type="search"] {
    @include search;
  }
  .img1 {
    width: 23px;
    height: 23px;
  }
  @media only screen and (max-width: 1072px) {
    .div1 {
      display: none;
    }
    .none {
      display: none;
    }
    input {
      display: none;
    }
  }
  @media only screen and (min-width: 1072px) {
    .img1 {
      display: none;
    }
  }
  @media only screen and (max-width: 850px) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 500px) {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
  .photo {
    background-image: url(../images/teatre.jpg);
    width: 100%;
    height: 616px;
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .div4 {
      width: 684px;
      height: 100px;
      color: white;
      font-size: 70px;
      font-family: Judson;
      font-weight: 700;
      word-wrap: break-word;
    }
    .div5 {
      background-color: #ea4b4be5;
      border-radius: 8px;
      width: 127px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 18px;
      font-family: Jomolhari;
      font-weight: 400;
      word-wrap: break-word;
    }
  }
}
