html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header .container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

header .img {
  width: 25px;
  height: 25px;
}

header .contact {
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  align-items: center;
}
header .div {
  display: flex;
  align-items: center;
}
header .first-child {
  color: rgb(70, 120, 220);
  font-size: 32px;
  font-family: Kaisei Decol;
  font-weight: 400;
  word-wrap: break-word;
  margin-left: 5px;
}
header li {
  margin-left: 30px;
  color: #000000;
  font-size: 20px;
  font-family: JejuMyeongjo;
  font-weight: 400;
  word-wrap: break-word;
}
header .div2 {
  display: flex;
}
header input {
  width: 188;
  height: 21;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 40px;
  border: none;
  padding: 5px 11px;
}
header input[type=search] {
  color: black;
  font-size: 12px;
  font-family: JejuMyeongjo;
  font-weight: 400;
  word-wrap: break-word;
}
header .img1 {
  width: 23px;
  height: 23px;
}
@media only screen and (max-width: 1072px) {
  header .div1 {
    display: none;
  }
  header .none {
    display: none;
  }
  header input {
    display: none;
  }
}
@media only screen and (min-width: 1072px) {
  header .img1 {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  header ul {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 500px) {
  header ul {
    display: flex;
    flex-direction: column;
  }
}
header .photo {
  background-image: url(../images/teatre.jpg);
  width: 100%;
  height: 616px;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .photo .div4 {
  width: 684px;
  height: 100px;
  color: white;
  font-size: 70px;
  font-family: Judson;
  font-weight: 700;
  word-wrap: break-word;
}
header .photo .div5 {
  background-color: rgba(234, 75, 75, 0.8980392157);
  border-radius: 8px;
  width: 127px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-family: Jomolhari;
  font-weight: 400;
  word-wrap: break-word;
}/*# sourceMappingURL=global.css.map */