html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header .container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

footer .container .img, header .img {
  width: 25px;
  height: 25px;
}

header .contact {
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  align-items: center;
}
header .div {
  display: flex;
  align-items: center;
}
header .first-child {
  color: rgb(70, 120, 220);
  font-size: 32px;
  font-family: Kaisei Decol;
  font-weight: 400;
  word-wrap: break-word;
  margin-left: 5px;
}
header li {
  margin-left: 30px;
  color: #000000;
  font-size: 20px;
  font-family: JejuMyeongjo;
  font-weight: 400;
  word-wrap: break-word;
}
header .div2 {
  display: flex;
}
header input {
  width: 188;
  height: 21;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 40px;
  border: none;
  padding: 5px 11px;
}
header input[type=search] {
  color: black;
  font-size: 12px;
  font-family: JejuMyeongjo;
  font-weight: 400;
  word-wrap: break-word;
}
header .img1 {
  width: 23px;
  height: 23px;
}
@media only screen and (max-width: 1072px) {
  header .div1 {
    display: none;
  }
  header .none {
    display: none;
  }
  header input {
    display: none;
  }
}
@media only screen and (min-width: 1072px) {
  header .img1 {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  header ul {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 500px) {
  header ul {
    display: flex;
    flex-direction: column;
  }
}

section .photo {
  background-image: url(../images/teatre.jpg);
  width: 100%;
  height: 616px;
  margin-top: 42px;
  margin-bottom: 98px;
  display: flex;
  background-position: center;
}
section .photo .veqtors {
  height: 616px;
  display: flex;
  align-items: center;
  margin-left: 49px;
}
section .photo .veqtorss {
  height: 616px;
  display: flex;
  align-items: center;
  margin-right: 49px;
}
section .photo .div7 {
  width: 100%;
  height: 616px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .photo .div7 .div4 {
  width: 684px;
  height: 100px;
  color: white;
  font-size: 70px;
  font-family: Judson;
  font-weight: 700;
  word-wrap: break-word;
}
section .photo .div7 .div5 {
  background-color: rgba(234, 75, 75, 0.8980392157);
  border-radius: 8px;
  width: 127px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-family: Jomolhari;
  font-weight: 400;
  word-wrap: break-word;
}
section .photo .div7 .div6 {
  width: 102px;
  height: 15px;
  display: flex;
}
section .photo .div7 .div6 .child {
  width: 12px;
  height: 12px;
  background: #7a7777;
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 180px;
}
section .photo .div7 .div6 .child1 {
  background-color: white;
}
@media only screen and (max-width: 825px) {
  section .div4 {
    display: flex;
    justify-content: center;
  }
  section .div4 p {
    font-size: 40px;
  }
  section .photo .veqtors {
    display: none;
  }
  section .photo .veqtorss {
    display: none;
  }
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 102px;
}
.news div {
  width: 253px;
  height: 2px;
  background-color: #000000;
}
.news p {
  color: black;
  font-size: 36px;
  font-family: Kaisei Decol;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0px 10px;
}

section .news1 {
  display: flex;
  justify-content: space-around;
}
section .news1 .first {
  margin-bottom: 120px;
}
section .news1 .pic {
  width: 324px;
  height: 324px;
}
section .news1 p {
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: JejuMyeongjo;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 27px;
}
section .inpute {
  width: 235px;
  height: 60px;
  background-color: #273a47;
  border: none;
  border-radius: 5px;
  margin-top: 97px;
}
section input[type=submit] {
  color: white;
  font-size: 25px;
  font-family: JejuMyeongjo;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 99px;
}
section .center {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1065px) {
  section .first {
    display: none;
  }
  section .news1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section .news .div {
    width: 100%;
  }
}

.section1 .photot {
  background-image: url(../images/tteatre.jpg);
  width: 100%;
  height: 667px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section1 .photot p {
  width: 400px;
  height: 150px;
  color: white;
  font-size: 48px;
  font-family: Judson;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
  margin-top: 130px;
}
.section1 .photot input {
  width: 235px;
  height: 60px;
  background-color: rgba(4, 14, 21, 0.8);
  border: none;
  border-radius: 5px;
  margin-top: 27px;
}
.section1 .info {
  width: 100% px;
  height: 333px;
  background-color: #273a47;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section1 .info p {
  max-width: 1140px;
  width: 100%;
  color: white;
  font-size: 24px;
  font-family: Karma;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}
.section1 .info :last-child {
  margin-top: 59px;
}

footer .foot-div {
  width: 100%;
  height: 430px;
  background-color: #e4e4e4;
}
footer .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
footer .container .first-child {
  color: rgb(70, 120, 220);
  font-size: 32px;
  font-family: Kaisei Decol;
  font-weight: 400;
  word-wrap: break-word;
  margin-left: 5px;
}
footer .container .div1 {
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}
footer .container .div2 h1 {
  font-family: "Dancing Script", cursive;
  color: black;
  font-size: 25px;
  font-weight: 400;
  word-wrap: break-word;
}
footer .container .div2 div {
  width: 150px;
  height: 1px;
  background-color: #000000;
  margin-bottom: 32px;
}
footer .container .div2 p {
  color: black;
  font-size: 20px;
  font-family: Kameron;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 17px;
}
footer .container .div3 h1 {
  font-family: "Dancing Script", cursive;
  color: black;
  font-size: 25px;
  font-weight: 400;
  word-wrap: break-word;
}
footer .container .div3 div {
  width: 150px;
  height: 1px;
  background-color: #000000;
  margin-bottom: 32px;
}
footer .container .div3 a {
  color: black;
  font-size: 20px;
  font-family: Kameron;
  font-weight: 400;
  word-wrap: break-word;
}
footer .container .div3 p {
  margin-bottom: 17px;
}
footer .container .div5 {
  max-width: 850px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .container .div5 .div4 img {
  margin-left: 20px;
}
footer .container .div6 {
  display: flex;
  justify-content: space-between;
}
footer .container .div7 {
  margin-top: -60px;
}
footer .container .div7 p {
  color: black;
  font-size: 20px;
  font-family: Kameron;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 17px;
}
footer .container .div8 {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
footer .container img {
  margin-right: 14px;
}
footer .container .pp {
  margin-right: 29px;
}
footer .container .div9 input {
  width: 340px;
  height: 40px;
  background-color: white;
  border-radius: 14px;
  border: 1px solid gray;
}
footer .container .div9 input[type=text] {
  color: black;
  font-size: 20px;
  font-family: Karma;
  font-weight: 400;
  word-wrap: break-word;
}
footer .container .div9 .input2 {
  width: 148px;
  height: 40px;
  background-color: #273a47;
}
footer .container .div9 .input2[type=submit] {
  color: white;
  font-size: 16px;
  font-family: Karma;
  font-weight: 400;
  word-wrap: break-word;
}
footer .container .div9 p {
  color: black;
  font-size: 12px;
  font-family: Karla;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 11px;
}
footer .container .div10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=global.css.map */