header {
  .container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
  }
  .img {
    width: 25px;
    height: 25px;
  }
  .contact {
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    display: flex;
    align-items: center;
  }
  .active {
    color: red;
  }
  .div {
    display: flex;
    align-items: center;
  }
  .first-child {
    color: rgb(70, 120, 220);
    font-size: 32px;
    font-family: Kaisei Decol;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 5px;
  }
  li {
    margin-left: 30px;
    color: #000000;
    font-size: 20px;
    font-family: JejuMyeongjo;
    font-weight: 400;
    word-wrap: break-word;
  }
  .div2 {
    display: flex;
  }
  input {
    width: 188;
    height: 21;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 40px;
    border: none;
    padding: 5px 11px;
  }
  input[type="search"] {
    color: black;
    font-size: 12px;
    font-family: JejuMyeongjo;
    font-weight: 400;
    word-wrap: break-word;
  }
  .img1 {
    width: 23px;
    height: 23px;
  }
  @media only screen and (max-width: 1072px) {
    .div1 {
      display: none;
    }
    .none {
      display: none;
    }
    input {
      display: none;
    }
  }
  @media only screen and (min-width: 1072px) {
    .img1 {
      display: none;
    }
  }
  @media only screen and (max-width: 850px) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 500px) {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
}
section {
  .photo {
    background-image: url(../images3/tttheatre.jpg);
    width: 100%;
    margin-top: 50px;
    background-position: center;
    margin-bottom: 100px;
  }
  .child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    p {
      color: white;
      font-size: 75px;
      font-family: Judson;
      font-weight: 700;
      word-wrap: break-word;
    }
  }
  @media only screen and (max-width: 700px) {
    .child {
      p {
        font-size: 40px;
      }
    }
  }
}
section {
  .container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
  }
  .div1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
    .img1 {
      max-width: 599px;
      width: 100%;
      height: 595px;
    }
    .div2 {
      h1 {
        color: black;
        font-size: 64px;
        font-family: "Dancing Script", cursive;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 30px;
      }
      h2 {
        color: black;
        font-size: 40px;
        font-family: JejuMyeongjo;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 35px;
      }
      p {
        max-width: 683px;
        width: 100%;
        color: black;
        font-size: 25px;
        font-family: Kameron;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 30px;
      }
      h4 {
        color: black;
        font-size: 30px;
        font-family: JejuMyeongjo;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 30px;
      }
    }
  }
  .div3 {
    input {
      width: 426px;
      height: 66px;
      background-color: #24253c;
      border-radius: 20px;
      border: none;
    }
    input[type="submit"] {
      color: white;
      font-size: 36px;
      font-family: Jomolhari;
      font-weight: 400;
      word-wrap: break-word;
    }
  }
  @media only screen and (max-width: 1270px) {
    .div1 {
      display: flex;
      flex-direction: column;
    }
    .div3 {
      display: flex;
      justify-content: center;
    }
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    h4 {
      text-align: center;
    }
  }
}
footer {
  .foot-div {
    width: 100%;
    height: 430px;
    background-color: #e4e4e4;
  }
  .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    .first-child {
      color: rgb(70, 120, 220);
      font-size: 32px;
      font-family: Kaisei Decol;
      font-weight: 400;
      word-wrap: break-word;
      margin-left: 5px;
    }
    .img {
      width: 25px;
      height: 25px;
    }
    .div1 {
      display: flex;
      align-items: center;
      margin-bottom: 140px;
    }
    .div2 {
      h1 {
        font-family: "Dancing Script", cursive;
        color: black;
        font-size: 25px;
        font-weight: 400;
        word-wrap: break-word;
      }
      div {
        width: 150px;
        height: 1px;
        background-color: #000000;
        margin-bottom: 32px;
      }
      p {
        color: black;
        font-size: 20px;
        font-family: Kameron;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 17px;
      }
    }
    .div3 {
      h1 {
        font-family: "Dancing Script", cursive;
        color: black;
        font-size: 25px;
        font-weight: 400;
        word-wrap: break-word;
      }
      div {
        width: 150px;
        height: 1px;
        background-color: #000000;
        margin-bottom: 32px;
      }
      a {
        color: black;
        font-size: 20px;
        font-family: Kameron;
        font-weight: 400;
        word-wrap: break-word;
      }
      p {
        margin-bottom: 17px;
      }
    }
    .div5 {
      max-width: 850px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .div4 {
        img {
          margin-left: 20px;
        }
      }
    }
    .div6 {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .div7 {
      margin-top: -60px;
      p {
        color: black;
        font-size: 20px;
        font-family: Kameron;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 17px;
      }
    }
    .div8 {
      display: flex;
      align-items: center;
      margin-top: 40px;
    }
    img {
      margin-right: 14px;
    }
    .pp {
      margin-right: 29px;
    }
    .div9 {
      input {
        width: 340px;
        height: 40px;
        background-color: white;
        border-radius: 14px;
        border: 1px solid gray;
      }
      input[type="text"] {
        color: black;
        font-size: 20px;
        font-family: Karma;
        font-weight: 400;
        word-wrap: break-word;
      }
      .input2 {
        width: 148px;
        height: 40px;
        background-color: #273a47;
      }
      .input2[type="submit"] {
        color: white;
        font-size: 16px;
        font-family: Karma;
        font-weight: 400;
        word-wrap: break-word;
      }
      p {
        color: black;
        font-size: 12px;
        font-family: Karla;
        font-weight: 400;
        word-wrap: break-word;
        margin-top: 11px;
      }
    }
    .div10 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media only screen and (max-width: 800px) {
      .div7 {
        display: none;
      }
      .div10 {
        .div9 {
          display: none;
        }
      }
      .div6 {
        max-width: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .div6 {
        .div5 {
          margin-top: -100px;
        }
      }
      .div5 {
        .div4 {
          display: flex;
          flex-direction: column;
          img {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
